

#grid_container {
    
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat (12 1fr);
    grid-template-rows: 6rem 15rem;
    
}
#header {
    grid-column: 1/12;
    grid-row: 1;
    font-size: 3.5rem;
    justify-self: center;

}
form {
    grid-column: 1/12;
    grid-row: 2;
    justify-self: center;
    max-width: 100%;
    height: auto;
}

#add_notes{
    grid-column: 1/12;
    font-size: 1.25rem;
    border-radius: 8px;
    justify-self: center;
    width: 25rem;
    height: 10rem;
}

#radios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px;
}


#css_radio {
    grid-column: 1;
    cursor: pointer; 
}

#js_radio{
    grid-column: 2;
    cursor: pointer;
}

#add_btn {
    grid-column: 4;
    cursor: pointer;
}

#css_ul {
    list-style-type: none;
    grid-column: 4;
    grid-row: 3;
    justify-self: end;
    font-size: 2rem;
    margin: 1.5rem;
    text-align: right;
    
}

#js_ul {
    list-style-type: none;
    grid-column: 6;
    grid-row: 3;
    text-align: center;
    font-size: 2rem;
    margin: 1.5rem;

}

.cssNote{
    font-size: 1rem;
    grid-column: 4;
    grid-row: 4;
    margin-top: 2rem;
    border: solid;
    margin: 1rem;
    border-radius: .5rem;
    width: 100%;
    height: auto;
    padding: 2rem;
    justify-self: start;
    display: grid;
    grid-template-columns: 80% 20%;
    text-align: start;
   
}

.jsNote{
    font-size: 1rem;
    grid-column: 6;
    grid-row: 4;
    margin-top: 2rem;
    border: solid;
    margin: 1rem;
    border-radius: .5rem;
    width: 100%;
    height: auto;
    padding: 2rem;
    justify-self: start;
    display: grid;
    text-align: start;
    
}

.del_btn {
    grid-column: 2;
    grid-row: 3;
    background-color: red;
    
}

.edit_btn{
    grid-column: 2;
    grid-row: 1;
    background-color: aqua;
    margin-bottom: 0.5rem;

}

.done_btn{
    grid-column: 2;
    grid-row: 2;
    background-color: yellowgreen;
    margin-bottom: .5rem;}
    
textArea{
    font-size: 1.25rem;
}


