body {
    background-image: url("dogbg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
form {
    width: 100vh;
    height: 100vh;
}
input {
    position: relative;
    right: 
    
}
