
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 25rem 25rem;
    grid-template-rows: 6.25rem 12.5rem 4.7rem 4.7rem;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    grid-column-gap: none;
}

h1 {
    grid-column: 2;
    grid-row: 1;
    z-index: 1;
    font-size: 2.25rem;
    justify-self: center;
}
 
#pic {
    grid-column: 1;
    grid-row: 1/6;
    z-index: 0;
    justify-self: stretch;
    
}

form {
    grid-column: 2;
    grid-row: 2;
    z-index: 1;
    width: 100%;
    height: auto;
    font-size: 1.5rem;
    display: grid;
    justify-self: center;
    
}
label{
    justify-self: center;
}

select {
    font-size: 1.5rem;
    cursor: pointer;
    max-width: 100%;
    justify-self: center;
    
}

button {
    
    height: 100px;
    width: 100px;
    border: none;
    background:none;
    cursor: pointer;
    margin:0;
    justify-self: center;
    
   
}

#vote {
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
}

ul{
    grid-column: 2;
    grid-row: 4;
    justify-self: center;
    
}

li{
    list-style-type: none;
    font-size: 1.25rem;
    
    
}


